[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "silicoin-light-gui"]
	path = silicoin-light-gui
	url = https://github.com/zcomputerwiz/silicoin-light-gui
